# Clave de la API para el servicio de envío de correos Resend
# Crea una cuenta en Resend.com, genera una API Key y pégala aquí.
# Asegúrate también de añadir esta variable de entorno en tu proveedor de hosting.
RESEND_API_KEY=re_eyiVj4Pg_CFwkZjba2ZqCPnYzMtnAxXrF
